
/*
	Puedes escribir en este archivo todos estilos relativos al sitio
	Puedes tanbién separarlos en las categorías mostradas aquí
	para facilitar su lectura

	You can put all your project-spcific styles in this file.
	You can separate your styles in different categories to 
	preserve legibility and ease of maintanance:
*/

/*TYPO*/
	/* Estilos tipográficos - typographic styles go here */

	/* Números de páginas */
	#main .paginas   { font-size: medium; }
	#main .paginas a { text-decoration: none; }

/*LAYOUT*/
	/* Estilos de forma - layout-specific styles go here */

	/* Altura del encabezado */
	#header { height: 156px; }

	/* Encabezado */
	#header .titulo { position: relative; top: 20px; left: 15px; }
	#header .frase  { position: relative; top: 20px; left: 15px; }

	/* Menu secundario */
	#nav-sec .wrapper     { padding: 16px 2px 2px 2px; }
	#nav-sec .wrapper img { margin: 1px; }

	/* Números de páginas */
	#main .paginas   { padding: 4px; text-align: center; }
	#main .paginas a { padding: 2px; margin: 2px; }

/*BORDERS*/
	/* Estilos de bordes - border-relative styles go here */

	/* Borde en el encabezado y en el contenido*/
	#header, #content { border: solid 1px black; }

	/* Borde en el menú primario */
	#nav-pri .wrapper a { border-right: solid 1px black; }

	/* Números de páginas */
	#main .paginas a { border: solid 1px #CCC; }

/*COLORS*/
	/* Estilos de colores - colors styles including background images go here */

	/* Vínculos */
	a:link    { color: #00A; }
	a:visited { color: #00A; }

	/* Fondo de color en la página */
	body  { background-color: #bdc1d1; }
	#page { background-color: #bdc1d1; }

	/* Encabezado */
	#header         { background: url(/imagenes/encabezado.jpg) top right no-repeat; background-color: #7186d9; }
	#header .titulo { color: black; }
	#header .frase  { color: white; }

	/* Fondo blanco en el contenido */
	#content { background-color: white; }

	/* Menu primario */
	#nav-pri .wrapper         { background: url(/imagenes/fondo-nav-pri.png) center repeat-x; background-color: black; }
	#nav-pri .wrapper a       { background: url(/imagenes/fondo-nav-pri.png) center repeat-x; color: white; }
	#nav-pri .wrapper a:hover { background: url(/imagenes/fondo-nav-pri-hover.png) center repeat-x; background-color: #5a71c6; text-decoration: none; }

	/* Contenido */
	#main h3 a { text-decoration: none; }
	#main h6   { color: gray; }

	/* Números de páginas */
	#main .paginas a { background: #DDD; }
