/*PREREQUISITES*/




	#nav-pri		{ padding-bottom: 0 !important; margin-bottom: 0 !important;}
	#nav-pri:before 	{ display: none;}
	#content		{ display: block; overflow: visible; float: none;}
	#content:after		{ display: none;}



/* End Mac IE5 filter */
#content_wrapper
	{
	overflow: hidden; /* This hides the excess padding in non-IE browsers */
	}
/* we need this for IE 5.01 - otherwise the wrapper does not expand to the
necessary height (unless fixed, this problem becomes even more acute
weirdness as the method is enhanced */
#content_wrapper
	{
/* Normally a Holly-style hack height: 1% would suffice but that causes
IE 5.01 to completely collapse the wrapper - instead we float it */
	float: left;
/* NB. possibly only IE 5.01 needs to get this float value - otherwise 5.5 sometimes
(I saw it happen many moons ago) makes the width of wrapper too small
the float: none with the comment is ignored by 5.01,
5.5 and above see it and carry on about their business
It's probably fine to just remove it, but it's left here
just in case that many moons ago problem rears its head again */
	float/**/: none;
	}
/* easy clearing */
#content_wrapper:after
	{
	content: '[DO NOT LEAVE IT IS NOT REAL]';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
#content_wrapper
	{
	display: inline-block;
	}
/*\*/
#content_wrapper
	{
	display: block;
	}
